/**
 * Homepage
 */

#main {
  margin-bottom: 5rem;
  margin-top: 5rem;

  @include media-query($on-palm) {
    margin-bottom: 7rem;
    margin-top: 2rem;
  }
}

.home-content {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
}

.home-container {
  display: -webkit-flex;
  display: flex;

  @include media-query($on-palm) {
    display: block;
  }
}

.main-title {
  margin-left: 15rem;
  margin-right: 15rem;
  font-size: 15rem;
  font-weight: bold;

  @include media-query($on-palm) {
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 6rem;
  }
}

.intro {
    width: $full-width;
    padding-bottom: 25px;
    margin-top: 70px;
    margin-left: 40px;

    > .inside-image {
      width: $full-width;
    }

  @include media-query($on-palm) {
    padding-bottom: 20px;
    margin-top: 10px;
    margin-left: 100px;

    > .inside-image {
      width: $full-width;
    }
  }
}

.full-display {
  @include media-query($on-palm) {
    display: none;
  }
}

.mobile-display {
  display: none;
  @include media-query($on-palm) {
    display: block;
  }
}

.explanation {
    font-size: 2rem;
    text-align: left;
    margin-left: 15rem;
    margin-right: 15rem;
    margin-top: -6rem;

  @include media-query($on-palm) {
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 1.2rem;
    margin-top: 2rem;
  }
}
